---
layout: default
description: WakandaDB is an Open Source Model-driven NoSQL database engine with a comprehensive REST web interface. The database schema definition, server-side processing and querying are all done in JavaScript. Think of it as a JavaScript Relational Web Data Server... whah? ... keep reading.
---
      <section id="view-sources" class="clearfix">
        <a href="https://github.com/Wakanda" id="view-on-github" class="button"><span>View on GitHub</span></a>
      </section>

      <br>

      <section id="downloads" class="clearfix">
        <a href="http://www.wakanda.org/downloads" id="download-wakanda" class="button"><span>Download</span></a>
      </section>

      <hr>

      <section id="main_content">

        <!-- About -->
        <section id="About">
          <h3> <a name="welcome-to-wakandadb" class="anchor" href="#welcome-to-wakandadb"><span class="octicon octicon-link">About WakandaDB</span></a></h3>
          <p>{{page.description}}</p>
        </section><!-- /About -->

          <hr>

        <!-- Play -->
        <section id="Play">
          <h3> <a name="Play-Wakanda" class="anchor" href="#Play-Wakanda"><span class="octicon octicon-link">Play with Wakanda</span></a></h3>
          <p>Try Wakanda Server-Side JavaScript in Live from “Play"</p>
          <p class="clearfix"><a href="http://play.wakanda.org/" id="play-wakanda" class="button"><span>"Play"</span></a></p>
        </section><!-- /Play -->

        <hr>

        <!-- Native Examples -->
        <section id="Native-Examples">
          <h3> <a name="Native-Examples" class="anchor" href="#Native-Examples"><span class="octicon octicon-link"></span></a>Native API Examples</h3>
          <nav role="navigation" class="clearfix">
            <ul>
              <li><a id="tabNavSSJS" role="tab" href="#SSJS-Example"><span class="octicon octicon-link">SSJS</span></a></li>
              <li><a id="tabNavREST" role="tab" href="#REST-Example"><span class="octicon octicon-link">REST</span></a></li>
            </ul>
          </nav>

          <hr>

          <div role="tablist">

            <!-- SSJS -->
            <div role="tabpanel" id="SSJS-Example" aria-selected="true"  aria-labeledby="tabSSJS">
              <h4> <a name="SSJS-Example" class="anchor" href="#SSJS-Example"><span class="octicon octicon-link">Server-Side JavaScript</span></a></h4>
              <p>
                SSJS Query
                <pre><code>var country = ds.Country(1);</code></pre>
                Result
                <pre><code>{
	ID: 1,
	name: "France",
	code2Chars: "fr",
	companies: CompanyCollection()
}</code></pre>
              </p>
            </div><!-- tabpanel -->

            <!-- REST -->
            <div role="tabpanel" id="REST-Example" aria-selected="false">
              <h4> <a name="REST-Example" class="anchor" href="#REST-Example"><span class="octicon octicon-link">REST</span></a></h4>
              <p>
                REST Request
                <pre><code>GET /rest/Country(1)</code></pre>
                JSON Response
                <pre><code>{
	__entityModel: "Country",
	__KEY: "1",
	__STAMP: 1,
	ID: 1,
	name: "France",
	code2Chars: "fr",
	companies: {
		__deferred: {
			uri: "/rest/Country(1)/companies?$expand=companies"
		}
	}
}</code></pre>
              </p>
            </div><!-- tabpanel -->

          </div><!-- tablist -->
        </section><!-- /Native Examples -->

        <hr>

        <!-- Intergrators -->
        <section id="Intergrators">
          <h3> <a name="Intergrators" class="anchor" href="#Intergrators"><span class="octicon octicon-link"></span></a>Examples of Intergrating</h3>
          <nav role="navigation" class="clearfix">
            <ul>
              <li><a id="tabNavUniversalAjax" role="tab" href="#Universal-Ajax-Connector"><span class="octicon octicon-link">Generic "Ajax"</span></a></li>
              <li><a id="tabNavAngular" role="tab" href="#Angular-Connector"><span class="octicon octicon-link">Angular</span></a></li>
              <li><a id="tabNavSencha" role="tab" href="#Sencha-Connector"><span class="octicon octicon-link">Sencha</span></a></li>
            </ul>
          </nav>

          <hr>

          <div role="tablist">

            <!-- Ajax -->
            <div role="tabpanel" id="Universal-Ajax-Connector" aria-selected="true"  aria-labeledby="tabNavUniversalAjax">
              <h4> <a name="Universal-Ajax-Connector" class="anchor" href="#Universal-Ajax-Connector"><span class="octicon octicon-link">Generic "Ajax"</span></a></h4>
              <p>
                Wakanda provides an universal Ajax driver able to provide a proxy of the model in 
                any browser. It is composed of a "<strong>data provider</strong>" and a 
                "<strong>data source</strong>". The data provider is useful to provide data binding
                to any raw javascript application or to any existing Ajax Framework. The data source
                layer provides a "Publish/Subscribe" mechanism (aka Observer) for any element using
                them (widgets, other datasources, ...) 
              </p>
              <p>
                Ajax Query
                <pre><code>var vcount;
var myset = ds.Person.query("ID > 100 and ID < 300", {
    onSuccess: function(event) // we pass a function that receives the server response
    {
        vcount = event.entityCollection.length; // we retrieve the size of the entity collection
        $("#display").html("selection : "+vcount);
            // we display the size of the entity collection in the container whose ID is "display"
    }
});</code></pre>
              </p>
              <p>more informations:<ul>
                <li>data provider: <a href="http://doc.wakanda.org/Dataprovider/Introduction/Accessing-Datastore-Objects-with-the-Dataprovider.300-608119.en.html">documentation</a> |<a href="https://github.com/Wakanda/WAF/tree/master/DataProvider">source</a>
                <li>data source: <a href="http://doc.wakanda.org/Datasource/Datasource.100-606948.en.html">documentation</a> | <a href="https://github.com/Wakanda/WAF/tree/master/DataSource">source</a>
                <li>project with few examples: <a href="http://www.youtube.com/watch?v=rLW2r0Qu79U#t=0:36:00">video demo</a> | <a href="https://github.com/rmello4d/NoWaf/archive/master.zip">download</a> | <a href="https://github.com/rmello4d/NoWaf/tree/master/NoWaf/NoWaf/WebFolder">sources</a>
              </ul></p>
            </div><!-- tabpanel -->

            <!-- Angular -->
            <div role="tabpanel" id="Angular-Connector" aria-selected="false">
              <h4> <a name="Angular-Connector" class="anchor" href="#Angular-Connector"><span class="octicon octicon-link">Angular Wakanda resource</span></a></h4>
              <p>
                Vojta Jina from Google went to present AngularJS at Wakanday Europe 2012. He 
                made at this occasion a Wakanda version of its ng-todo demo application using a
                "<a href="https://github.com/vojtajina/ng-todo/blob/wakanda/TODO-Wakanda-AngularJS/WebFolder/index.waPage/wakanda-resource.js">wakanda-resource.js</a>" 
                file bound on the Wakanda REST API.
              </p>
              <p>
                Todo Controller
                <pre><code>var todo = angular.module('todo', ['wakandaResource']);

todo.controller('Todo', function($scope, Item) {
  $scope.items = Item.query();

  $scope.add = function() {
    var item = new Item({text: $scope.newText, done: false});
    $scope.items.push(item);
    $scope.newText = '';

    item.$save();
  };

  $scope.remaining = function() {
    return $scope.items.reduce(function(count, item) {
      return item.done ? count : count + 1;
    }, 0);
  };

  $scope.archive = function() {
    $scope.items = $scope.items.filter(function(item) {
      if (item.done) {
        item.$remove();
        return false;
      }
      return true;
    });
  };
});

todo.factory('Item', function(wakandaResource) {
  return wakandaResource('/rest/Item:id');
});</code></pre>
                Todo HTML
                <pre><code>&lt;!DOCTYPE html&gt;
&lt;html ng-app=&quot;todo&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;title&gt;Things To Do&lt;/title&gt;
  &lt;link href=&quot;bootstrap/css/bootstrap.css&quot; rel=&quot;stylesheet&quot;&gt;
  &lt;script src=&quot;angular.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;angular-resource.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;wakanda-resource.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;todo.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
  &lt;style type=&quot;text/css&quot;&gt;
    .done-true {
      color: gray;
      text-decoration: line-through;
    }
  &lt;/style&gt;
&lt;/head&gt;
&lt;body ng-controller=&quot;Todo&quot; class=&quot;well&quot;&gt;

&lt;h1&gt;Things To Do&lt;/h1&gt;

&lt;p&gt;
  Remaining &lt;strong&gt;{{remaining()}}&lt;/strong&gt; of &lt;strong&gt;{{items.length}}&lt;/strong&gt;.
  [ &lt;a ng-click=&quot;archive()&quot;&gt;archive&lt;/a&gt; ]
&lt;/p&gt;

&lt;ul class=&quot;unstyled&quot;&gt;
  &lt;li ng-repeat=&quot;item in items&quot; class=&quot;done-{{item.done}}&quot;&gt;
    &lt;input ng-model=&quot;item.done&quot; ng-change=&quot;item.$update()&quot; type=&quot;checkbox&quot;&gt;
    {{item.text}}
  &lt;/li&gt;
&lt;/ul&gt;

&lt;form&gt;
  &lt;input ng-model=&quot;newText&quot; type=&quot;text&quot;&gt;
  &lt;button ng-click=&quot;add()&quot; ng-disabled=&quot;!newText&quot; class=&quot;btn btn-primary&quot;&gt;add&lt;/button&gt;
&lt;/form&gt;

&lt;/body&gt;
&lt;/html&gt;</code></pre>
              </p>
              <p>more informations:<ul>
                <li>ng-todo Wakanda branch: <a href="https://github.com/vojtajina/ng-todo/tree/wakanda">source</a>
                <li>data source: <a href="http://doc.wakanda.org/Datasource/Datasource.100-606948.en.html">documentation</a> | <a href="https://github.com/Wakanda/WAF/tree/master/DataSource">source</a>
                <li>project with few examples: <a href="http://www.youtube.com/watch?v=rLW2r0Qu79U#t=0:36:00">video demo</a> | <a href="https://github.com/rmello4d/NoWaf/archive/master.zip">download</a> | <a href="https://github.com/rmello4d/NoWaf/tree/master/NoWaf/NoWaf/WebFolder">sources</a>
              </ul></p>
            </div><!-- tabpanel -->

            <!-- Sencha -->
            <div role="tabpanel" id="Sencha-Connector" aria-selected="false">
              <h4> <a name="Sencha-Connector" class="anchor" href="#Sencha-Connector"><span class="octicon octicon-link">Sencha-Wakanda</span></a></h4>
              <p>
                First presented during Wakanday 2011, a Sencha Wakanda proxy was realized by a
                french company called revolunet. It is using directly the REST API.
              </p>
              <p>
                Example
                <pre><code>Ext.define('Employee', {
    extend: 'Ext.data.WakandaModel'
});

Ext.onReady(function() {

    var store = Ext.create('Ext.data.Store', {
        buffered: true,
        remoteSort: true,
        remoteFilter: true,
        pageSize: 200,
        model: 'Employee'
    });

    var grid = Ext.create('Ext.grid.Panel', {
        x: 20,
        y: 20,
        width: 500,
        height: 300,
        frame: true,
        floating: true,
        store: store,
        bbar: toolbar,
        renderTo: document.body,
        verticalScrollerType: 'paginggridscroller',
        loadMask: true,
        disableSelection: true,
        invalidateScrollerOnRefresh: false,
        viewConfig: {trackOver: false},
        columns: [
            {xtype: 'rownumberer', width: 40, sortable: false},
            {dataIndex: 'lastName', header: 'Last name', field: {xtype: 'textfield'}},
            {dataIndex: 'firstName', header: 'First name', field: {xtype: 'textfield'}},
            {dataIndex: 'salary', header: 'Salary', renderer: Ext.util.Format.usMoney, field: {xtype: 'textfield'}},
            {dataIndex: 'companyName', header: 'Company', flex: 1}
        ]
    });

    store.guaranteeRange(0, 199);

});</code></pre>
              </p>
              <p>more informations:<ul>
                <li>Sencha-Wakanda: <a href="https://github.com/revolunet/sencha-wakanda/wiki/Wakanda-REST-API-with-ExtJS-4">documentation</a> | <a href="https://github.com/revolunet/sencha-wakanda">sources</a>
              </ul></p>
            </div><!-- tabpanel -->

          </div><!-- tablist -->
        </section><!-- /Intergrators -->

      </section><!-- main_content -->
      
      {% for post in site.posts %}
      <article>
        <header>
          <h2>
              <a href="{{ post.url }}" rel="bookmark" title="Permanent link to ">{{ post.title }}</a>
          </h2>
          <h5><time>{{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }}</time></h5>
        </header>
        {{ post.content }}
      </article>
      {% endfor %}
      